body{
    font-size: large;
    display: flex;
}
.col{
    text-align: center;
    padding: 15px;
}

.container-sm{
margin-top: 5px; 
    text-align: center;
    border: 3px solid rgb(175, 137, 175);
}
#picture{
margin-top: 1em;
}
#buttons{
margin-bottom: 1em;}
.maxscore{
    margin: 5px;
}
#wynikSetow{
    font-size: xx-large;
}
#listaSetow{
    font-size: x-large;
}
ul {
    font-size: xx-large;
    list-style-type: none;
}
input{
    margin: 15px;
}
